{% extends "layout.html" %} {% block title %} {{ course.title }} {% endblock %}
{% block content%}
<article class="card">
  <h2 class="welcome">{{ course.title }}</h2>
  <h4 class="welcome">{{ course.description }}</h4>

  <section class="welcome">
    {% for step in course.step_set.all%}
    <h3>
      <a
        href="{% url 'courses:step' course_pk=step.course.pk step_pk=step.pk %}"
        >{{ step.title }}</a
      >
    </h3>
    {{ step.description }} {% endfor %}
  </section>
</article>
{% endblock %}
