{% extends "layout.html" %} {% block title %}Ancient Rome Education Site Mock
Django test site {% endblock %} {% block content %}
<h1 class="welcome">Welcome!</h1>
<h2 class="intro">
  This website is mock learning website dedicated to the history of the Roman
  Empire.
</h2>
<h2 class="intro">
  Here you will find a list of fictional classes based on roman history. These
  are not real class, this website is meant to display my abilities in the
  Python language and the Django framework.
</h2>
<h2 class="intro">
  Please use the two "Course" button at the top to view the current course
  selection
</h2>
{% endblock %}
